<div id="contentBarTop">
    <div id="contentBarTopLogo">
        <a href="javascript:void(0)" [nglCrop]='1-by-1'>
            <img src="../../../assets/icons/app/logo/t3.png" alt="16x9 image" />
        </a>
        <!-- <figure nglFigure [nglTitle]="Home">
            <a href="javascript:void(0)" [nglCrop]='1-by-1'>
                <img src="../../../assets/icons/app/logo/t3.png" alt="16x9 image" />
            </a>
        </figure>-->
    </div>
    <div id="contentBarTop1">
        <menu></menu>
    </div>
    <div id="contentBarTop2"></div>
    <div id="contentBarTop3"></div>
    <div id="contentBarTop4"></div>
</div>