<div id="menuComponent">
    <ng-select [allowClear]="true" [items]="menuOptions" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="search($event)" placeholder="O que você procura?">
    </ng-select>
</div>
<!-- <div id="menuComponent">
        <pre>{{value.text}}</pre>
    <ngl-lookup [lookup]="search" [(pick)]='menuOptionSelected' [placeholder]="'O que você procura?'" [noResultsText]="'Nenhuma opção encontrada...'" (pickChange)="">
        <div nglLookupHeader class="slds-text-body--small">Opções...</div>
        <span nglPolymorphicLabel>
          <i class={{menuGroupSelected.icon}} aria-hidden="true" fa-3x></i>
        </span>
        <template nglPolymorphicItem [scopes]="menuGroups" (scopeChange)="menuGroupSelected = $event; lookupMenuGroupSelected($event)" let-item>
          <p class="slds-truncate"><i class={{item.icon}} aria-hidden="true" fa-3x></i> - {{ item.name }}</p>
    </template>
    </ngl-lookup>
</div>-->